global
  master-worker
  log /dev/log local0 info

defaults
  log global
  mode http
  option httplog
  timeout connect 5s
  timeout client  30s
  timeout server  30s

crt-store mycerts
  crt-base /etc/haproxy/certs/
  key-base /etc/haproxy/certs/
  load crt "edge.pem" alias "edge"

frontend fe_mtls
  # Require client certificate
  bind :443 ssl ca-file /etc/haproxy/ca/clients-ca.pem verify required
  ssl-f-use crt "@mycerts/edge"

  # Optional: deny if no client cert
  http-request deny unless { ssl_c_used }

  default_backend be_app

backend be_app
  server app1 10.0.10.11:8080 check
