global
  master-worker
  log /dev/log local0 info

defaults
  log global
  mode http
  option httplog
  timeout connect 5s
  timeout client  30s
  timeout server  30s

backend be_hash
  balance hash
  hash-type consistent
  # In 3.2, control behavior when servers are saturated/queued:
  hash-preserve-affinity maxconn

  server s1 10.0.50.11:8080 check maxconn 200 strict-maxconn
  server s2 10.0.50.12:8080 check maxconn 200 strict-maxconn
