{"openapi":"3.0.3","info":{"title":"Arvan CaaS","version":"1.25","x-logo":{"url":"\/images\/other\/arvan-api-docs-logo.svg","backgroundColor":"white","altText":"arvancloud"}},"servers":[{"url":"https:\/\/napi.arvancloud.ir\/caas\/v2\/zones\/ir-tbz-sh1","description":"Shahriar"},{"url":"https:\/\/napi.arvancloud.ir\/caas\/v2\/zones\/ir-thr-ba1","description":"Bamdad"}],"paths":{"\/api\/v1\/namespaces\/{namespace}\/configmaps":{"parameters":[{"name":"namespace","in":"path","description":"object name and auth scope, such as for teams and projects","required":true,"schema":{"uniqueItems":true,"type":"string"}},{"name":"pretty","in":"query","description":"If 'true', then the output is pretty printed.","schema":{"uniqueItems":true,"type":"string"}}],"delete":{"tags":["core_v1"],"description":"delete collection of ConfigMap","operationId":"deleteCoreV1CollectionNamespacedConfigMap","parameters":[{"name":"continue","in":"query","description":"The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.","schema":{"uniqueItems":true,"type":"string"}},{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldSelector","in":"query","description":"A selector to restrict the list of returned objects by their fields. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"gracePeriodSeconds","in":"query","description":"The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"labelSelector","in":"query","description":"A selector to restrict the list of returned objects by their labels. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"limit","in":"query","description":"limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"orphanDependents","in":"query","description":"Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true\/false, the \"orphan\" finalizer will be added to\/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.","schema":{"uniqueItems":true,"type":"boolean"}},{"name":"propagationPolicy","in":"query","description":"Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.","schema":{"uniqueItems":true,"type":"string"}},{"name":"resourceVersion","in":"query","description":"resourceVersion sets a constraint on what resource versions a request may be served from. See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"resourceVersionMatch","in":"query","description":"resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"timeoutSeconds","in":"query","description":"Timeout for the list\/watch call. This limits the duration of the call, regardless of any activity or inactivity.","schema":{"uniqueItems":true,"type":"integer"}}],"requestBody":{"content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"deletecollection","x-kubernetes-group-version-kind":{"group":"","kind":"ConfigMap","version":"v1"}},"get":{"tags":["core_v1"],"description":"list or watch objects of kind ConfigMap","operationId":"listCoreV1NamespacedConfigMap","parameters":[{"name":"allowWatchBookmarks","in":"query","description":"allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored.","schema":{"uniqueItems":true,"type":"boolean"}},{"name":"continue","in":"query","description":"The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldSelector","in":"query","description":"A selector to restrict the list of returned objects by their fields. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"labelSelector","in":"query","description":"A selector to restrict the list of returned objects by their labels. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"limit","in":"query","description":"limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"resourceVersion","in":"query","description":"resourceVersion sets a constraint on what resource versions a request may be served from. See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"resourceVersionMatch","in":"query","description":"resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"timeoutSeconds","in":"query","description":"Timeout for the list\/watch call. This limits the duration of the call, regardless of any activity or inactivity.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"watch","in":"query","description":"Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.","schema":{"uniqueItems":true,"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMapList"}},"application\/json;stream=watch":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMapList"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMapList"}},"application\/vnd.kubernetes.protobuf;stream=watch":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMapList"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMapList"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"list","x-kubernetes-group-version-kind":{"group":"","kind":"ConfigMap","version":"v1"}},"post":{"tags":["core_v1"],"description":"create a ConfigMap","operationId":"createCoreV1NamespacedConfigMap","parameters":[{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldManager","in":"query","description":"fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https:\/\/golang.org\/pkg\/unicode\/#IsPrint.","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldValidation","in":"query","description":"fieldValidation instructs the server on how to handle objects in the request (POST\/PUT\/PATCH) containing unknown or duplicate fields, provided that the `ServerSideFieldValidation` feature gate is also enabled. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23 and is the default behavior when the `ServerSideFieldValidation` feature gate is disabled. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default when the `ServerSideFieldValidation` feature gate is enabled. - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered.","schema":{"uniqueItems":true,"type":"string"}}],"requestBody":{"content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}}}},"201":{"description":"Created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}}}},"202":{"description":"Accepted","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"post","x-kubernetes-group-version-kind":{"group":"","kind":"ConfigMap","version":"v1"}}},"\/api\/v1\/namespaces\/{namespace}\/configmaps\/{name}":{"parameters":[{"name":"name","in":"path","description":"name of the ConfigMap","required":true,"schema":{"uniqueItems":true,"type":"string"}},{"name":"namespace","in":"path","description":"object name and auth scope, such as for teams and projects","required":true,"schema":{"uniqueItems":true,"type":"string"}},{"name":"pretty","in":"query","description":"If 'true', then the output is pretty printed.","schema":{"uniqueItems":true,"type":"string"}}],"delete":{"tags":["core_v1"],"description":"delete a ConfigMap","operationId":"deleteCoreV1NamespacedConfigMap","parameters":[{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"gracePeriodSeconds","in":"query","description":"The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"orphanDependents","in":"query","description":"Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true\/false, the \"orphan\" finalizer will be added to\/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.","schema":{"uniqueItems":true,"type":"boolean"}},{"name":"propagationPolicy","in":"query","description":"Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.","schema":{"uniqueItems":true,"type":"string"}}],"requestBody":{"content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}}}},"202":{"description":"Accepted","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"delete","x-kubernetes-group-version-kind":{"group":"","kind":"ConfigMap","version":"v1"}},"get":{"tags":["core_v1"],"description":"read the specified ConfigMap","operationId":"readCoreV1NamespacedConfigMap","responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"get","x-kubernetes-group-version-kind":{"group":"","kind":"ConfigMap","version":"v1"}},"patch":{"tags":["core_v1"],"description":"partially update the specified ConfigMap","operationId":"patchCoreV1NamespacedConfigMap","parameters":[{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldManager","in":"query","description":"fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https:\/\/golang.org\/pkg\/unicode\/#IsPrint. This field is required for apply requests (application\/apply-patch) but optional for non-apply patch types (JsonPatch, MergePatch, StrategicMergePatch).","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldValidation","in":"query","description":"fieldValidation instructs the server on how to handle objects in the request (POST\/PUT\/PATCH) containing unknown or duplicate fields, provided that the `ServerSideFieldValidation` feature gate is also enabled. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23 and is the default behavior when the `ServerSideFieldValidation` feature gate is disabled. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default when the `ServerSideFieldValidation` feature gate is enabled. - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered.","schema":{"uniqueItems":true,"type":"string"}},{"name":"force","in":"query","description":"Force is going to \"force\" Apply requests. It means user will re-acquire conflicting fields owned by other people. Force flag must be unset for non-apply patch requests.","schema":{"uniqueItems":true,"type":"boolean"}}],"requestBody":{"content":{"application\/apply-patch+yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"}},"application\/json-patch+json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"}},"application\/merge-patch+json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"}},"application\/strategic-merge-patch+json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}}}},"201":{"description":"Created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"patch","x-kubernetes-group-version-kind":{"group":"","kind":"ConfigMap","version":"v1"}},"put":{"tags":["core_v1"],"description":"replace the specified ConfigMap","operationId":"replaceCoreV1NamespacedConfigMap","parameters":[{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldManager","in":"query","description":"fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https:\/\/golang.org\/pkg\/unicode\/#IsPrint.","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldValidation","in":"query","description":"fieldValidation instructs the server on how to handle objects in the request (POST\/PUT\/PATCH) containing unknown or duplicate fields, provided that the `ServerSideFieldValidation` feature gate is also enabled. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23 and is the default behavior when the `ServerSideFieldValidation` feature gate is disabled. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default when the `ServerSideFieldValidation` feature gate is enabled. - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered.","schema":{"uniqueItems":true,"type":"string"}}],"requestBody":{"content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}}}},"201":{"description":"Created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.ConfigMap"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"put","x-kubernetes-group-version-kind":{"group":"","kind":"ConfigMap","version":"v1"}}},"\/api\/v1\/namespaces\/{namespace}\/endpoints":{"parameters":[{"name":"namespace","in":"path","description":"object name and auth scope, such as for teams and projects","required":true,"schema":{"uniqueItems":true,"type":"string"}},{"name":"pretty","in":"query","description":"If 'true', then the output is pretty printed.","schema":{"uniqueItems":true,"type":"string"}}],"delete":{"tags":["core_v1"],"description":"delete collection of Endpoints","operationId":"deleteCoreV1CollectionNamespacedEndpoints","parameters":[{"name":"continue","in":"query","description":"The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.","schema":{"uniqueItems":true,"type":"string"}},{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldSelector","in":"query","description":"A selector to restrict the list of returned objects by their fields. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"gracePeriodSeconds","in":"query","description":"The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"labelSelector","in":"query","description":"A selector to restrict the list of returned objects by their labels. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"limit","in":"query","description":"limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"orphanDependents","in":"query","description":"Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true\/false, the \"orphan\" finalizer will be added to\/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.","schema":{"uniqueItems":true,"type":"boolean"}},{"name":"propagationPolicy","in":"query","description":"Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.","schema":{"uniqueItems":true,"type":"string"}},{"name":"resourceVersion","in":"query","description":"resourceVersion sets a constraint on what resource versions a request may be served from. See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"resourceVersionMatch","in":"query","description":"resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"timeoutSeconds","in":"query","description":"Timeout for the list\/watch call. This limits the duration of the call, regardless of any activity or inactivity.","schema":{"uniqueItems":true,"type":"integer"}}],"requestBody":{"content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"deletecollection","x-kubernetes-group-version-kind":{"group":"","kind":"Endpoints","version":"v1"}},"get":{"tags":["core_v1"],"description":"list or watch objects of kind Endpoints","operationId":"listCoreV1NamespacedEndpoints","parameters":[{"name":"allowWatchBookmarks","in":"query","description":"allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored.","schema":{"uniqueItems":true,"type":"boolean"}},{"name":"continue","in":"query","description":"The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldSelector","in":"query","description":"A selector to restrict the list of returned objects by their fields. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"labelSelector","in":"query","description":"A selector to restrict the list of returned objects by their labels. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"limit","in":"query","description":"limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"resourceVersion","in":"query","description":"resourceVersion sets a constraint on what resource versions a request may be served from. See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"resourceVersionMatch","in":"query","description":"resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"timeoutSeconds","in":"query","description":"Timeout for the list\/watch call. This limits the duration of the call, regardless of any activity or inactivity.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"watch","in":"query","description":"Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.","schema":{"uniqueItems":true,"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.EndpointsList"}},"application\/json;stream=watch":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.EndpointsList"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.EndpointsList"}},"application\/vnd.kubernetes.protobuf;stream=watch":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.EndpointsList"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.EndpointsList"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"list","x-kubernetes-group-version-kind":{"group":"","kind":"Endpoints","version":"v1"}},"post":{"tags":["core_v1"],"description":"create Endpoints","operationId":"createCoreV1NamespacedEndpoints","parameters":[{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldManager","in":"query","description":"fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https:\/\/golang.org\/pkg\/unicode\/#IsPrint.","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldValidation","in":"query","description":"fieldValidation instructs the server on how to handle objects in the request (POST\/PUT\/PATCH) containing unknown or duplicate fields, provided that the `ServerSideFieldValidation` feature gate is also enabled. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23 and is the default behavior when the `ServerSideFieldValidation` feature gate is disabled. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default when the `ServerSideFieldValidation` feature gate is enabled. - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered.","schema":{"uniqueItems":true,"type":"string"}}],"requestBody":{"content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}}}},"201":{"description":"Created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}}}},"202":{"description":"Accepted","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"post","x-kubernetes-group-version-kind":{"group":"","kind":"Endpoints","version":"v1"}}},"\/api\/v1\/namespaces\/{namespace}\/endpoints\/{name}":{"parameters":[{"name":"name","in":"path","description":"name of the Endpoints","required":true,"schema":{"uniqueItems":true,"type":"string"}},{"name":"namespace","in":"path","description":"object name and auth scope, such as for teams and projects","required":true,"schema":{"uniqueItems":true,"type":"string"}},{"name":"pretty","in":"query","description":"If 'true', then the output is pretty printed.","schema":{"uniqueItems":true,"type":"string"}}],"delete":{"tags":["core_v1"],"description":"delete Endpoints","operationId":"deleteCoreV1NamespacedEndpoints","parameters":[{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"gracePeriodSeconds","in":"query","description":"The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"orphanDependents","in":"query","description":"Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true\/false, the \"orphan\" finalizer will be added to\/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.","schema":{"uniqueItems":true,"type":"boolean"}},{"name":"propagationPolicy","in":"query","description":"Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.","schema":{"uniqueItems":true,"type":"string"}}],"requestBody":{"content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}}}},"202":{"description":"Accepted","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"delete","x-kubernetes-group-version-kind":{"group":"","kind":"Endpoints","version":"v1"}},"get":{"tags":["core_v1"],"description":"read the specified Endpoints","operationId":"readCoreV1NamespacedEndpoints","responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"get","x-kubernetes-group-version-kind":{"group":"","kind":"Endpoints","version":"v1"}},"patch":{"tags":["core_v1"],"description":"partially update the specified Endpoints","operationId":"patchCoreV1NamespacedEndpoints","parameters":[{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldManager","in":"query","description":"fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https:\/\/golang.org\/pkg\/unicode\/#IsPrint. This field is required for apply requests (application\/apply-patch) but optional for non-apply patch types (JsonPatch, MergePatch, StrategicMergePatch).","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldValidation","in":"query","description":"fieldValidation instructs the server on how to handle objects in the request (POST\/PUT\/PATCH) containing unknown or duplicate fields, provided that the `ServerSideFieldValidation` feature gate is also enabled. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23 and is the default behavior when the `ServerSideFieldValidation` feature gate is disabled. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default when the `ServerSideFieldValidation` feature gate is enabled. - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered.","schema":{"uniqueItems":true,"type":"string"}},{"name":"force","in":"query","description":"Force is going to \"force\" Apply requests. It means user will re-acquire conflicting fields owned by other people. Force flag must be unset for non-apply patch requests.","schema":{"uniqueItems":true,"type":"boolean"}}],"requestBody":{"content":{"application\/apply-patch+yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"}},"application\/json-patch+json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"}},"application\/merge-patch+json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"}},"application\/strategic-merge-patch+json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}}}},"201":{"description":"Created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"patch","x-kubernetes-group-version-kind":{"group":"","kind":"Endpoints","version":"v1"}},"put":{"tags":["core_v1"],"description":"replace the specified Endpoints","operationId":"replaceCoreV1NamespacedEndpoints","parameters":[{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldManager","in":"query","description":"fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https:\/\/golang.org\/pkg\/unicode\/#IsPrint.","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldValidation","in":"query","description":"fieldValidation instructs the server on how to handle objects in the request (POST\/PUT\/PATCH) containing unknown or duplicate fields, provided that the `ServerSideFieldValidation` feature gate is also enabled. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23 and is the default behavior when the `ServerSideFieldValidation` feature gate is disabled. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default when the `ServerSideFieldValidation` feature gate is enabled. - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered.","schema":{"uniqueItems":true,"type":"string"}}],"requestBody":{"content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}}}},"201":{"description":"Created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Endpoints"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"put","x-kubernetes-group-version-kind":{"group":"","kind":"Endpoints","version":"v1"}}},"\/api\/v1\/namespaces\/{namespace}\/events":{"parameters":[{"name":"namespace","in":"path","description":"object name and auth scope, such as for teams and projects","required":true,"schema":{"uniqueItems":true,"type":"string"}},{"name":"pretty","in":"query","description":"If 'true', then the output is pretty printed.","schema":{"uniqueItems":true,"type":"string"}}],"delete":{"tags":["core_v1"],"description":"delete collection of Event","operationId":"deleteCoreV1CollectionNamespacedEvent","parameters":[{"name":"continue","in":"query","description":"The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.","schema":{"uniqueItems":true,"type":"string"}},{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldSelector","in":"query","description":"A selector to restrict the list of returned objects by their fields. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"gracePeriodSeconds","in":"query","description":"The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"labelSelector","in":"query","description":"A selector to restrict the list of returned objects by their labels. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"limit","in":"query","description":"limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"orphanDependents","in":"query","description":"Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true\/false, the \"orphan\" finalizer will be added to\/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.","schema":{"uniqueItems":true,"type":"boolean"}},{"name":"propagationPolicy","in":"query","description":"Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.","schema":{"uniqueItems":true,"type":"string"}},{"name":"resourceVersion","in":"query","description":"resourceVersion sets a constraint on what resource versions a request may be served from. See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"resourceVersionMatch","in":"query","description":"resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"timeoutSeconds","in":"query","description":"Timeout for the list\/watch call. This limits the duration of the call, regardless of any activity or inactivity.","schema":{"uniqueItems":true,"type":"integer"}}],"requestBody":{"content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"deletecollection","x-kubernetes-group-version-kind":{"group":"","kind":"Event","version":"v1"}},"get":{"tags":["core_v1"],"description":"list or watch objects of kind Event","operationId":"listCoreV1NamespacedEvent","parameters":[{"name":"allowWatchBookmarks","in":"query","description":"allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored.","schema":{"uniqueItems":true,"type":"boolean"}},{"name":"continue","in":"query","description":"The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldSelector","in":"query","description":"A selector to restrict the list of returned objects by their fields. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"labelSelector","in":"query","description":"A selector to restrict the list of returned objects by their labels. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"limit","in":"query","description":"limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"resourceVersion","in":"query","description":"resourceVersion sets a constraint on what resource versions a request may be served from. See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"resourceVersionMatch","in":"query","description":"resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"timeoutSeconds","in":"query","description":"Timeout for the list\/watch call. This limits the duration of the call, regardless of any activity or inactivity.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"watch","in":"query","description":"Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.","schema":{"uniqueItems":true,"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.EventList"}},"application\/json;stream=watch":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.EventList"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.EventList"}},"application\/vnd.kubernetes.protobuf;stream=watch":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.EventList"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.EventList"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"list","x-kubernetes-group-version-kind":{"group":"","kind":"Event","version":"v1"}},"post":{"tags":["core_v1"],"description":"create an Event","operationId":"createCoreV1NamespacedEvent","parameters":[{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldManager","in":"query","description":"fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https:\/\/golang.org\/pkg\/unicode\/#IsPrint.","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldValidation","in":"query","description":"fieldValidation instructs the server on how to handle objects in the request (POST\/PUT\/PATCH) containing unknown or duplicate fields, provided that the `ServerSideFieldValidation` feature gate is also enabled. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23 and is the default behavior when the `ServerSideFieldValidation` feature gate is disabled. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default when the `ServerSideFieldValidation` feature gate is enabled. - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered.","schema":{"uniqueItems":true,"type":"string"}}],"requestBody":{"content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}}}},"201":{"description":"Created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}}}},"202":{"description":"Accepted","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"post","x-kubernetes-group-version-kind":{"group":"","kind":"Event","version":"v1"}}},"\/api\/v1\/namespaces\/{namespace}\/events\/{name}":{"parameters":[{"name":"name","in":"path","description":"name of the Event","required":true,"schema":{"uniqueItems":true,"type":"string"}},{"name":"namespace","in":"path","description":"object name and auth scope, such as for teams and projects","required":true,"schema":{"uniqueItems":true,"type":"string"}},{"name":"pretty","in":"query","description":"If 'true', then the output is pretty printed.","schema":{"uniqueItems":true,"type":"string"}}],"delete":{"tags":["core_v1"],"description":"delete an Event","operationId":"deleteCoreV1NamespacedEvent","parameters":[{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"gracePeriodSeconds","in":"query","description":"The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"orphanDependents","in":"query","description":"Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true\/false, the \"orphan\" finalizer will be added to\/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.","schema":{"uniqueItems":true,"type":"boolean"}},{"name":"propagationPolicy","in":"query","description":"Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.","schema":{"uniqueItems":true,"type":"string"}}],"requestBody":{"content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}}}},"202":{"description":"Accepted","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"delete","x-kubernetes-group-version-kind":{"group":"","kind":"Event","version":"v1"}},"get":{"tags":["core_v1"],"description":"read the specified Event","operationId":"readCoreV1NamespacedEvent","responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"get","x-kubernetes-group-version-kind":{"group":"","kind":"Event","version":"v1"}},"patch":{"tags":["core_v1"],"description":"partially update the specified Event","operationId":"patchCoreV1NamespacedEvent","parameters":[{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldManager","in":"query","description":"fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https:\/\/golang.org\/pkg\/unicode\/#IsPrint. This field is required for apply requests (application\/apply-patch) but optional for non-apply patch types (JsonPatch, MergePatch, StrategicMergePatch).","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldValidation","in":"query","description":"fieldValidation instructs the server on how to handle objects in the request (POST\/PUT\/PATCH) containing unknown or duplicate fields, provided that the `ServerSideFieldValidation` feature gate is also enabled. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23 and is the default behavior when the `ServerSideFieldValidation` feature gate is disabled. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default when the `ServerSideFieldValidation` feature gate is enabled. - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered.","schema":{"uniqueItems":true,"type":"string"}},{"name":"force","in":"query","description":"Force is going to \"force\" Apply requests. It means user will re-acquire conflicting fields owned by other people. Force flag must be unset for non-apply patch requests.","schema":{"uniqueItems":true,"type":"boolean"}}],"requestBody":{"content":{"application\/apply-patch+yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"}},"application\/json-patch+json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"}},"application\/merge-patch+json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"}},"application\/strategic-merge-patch+json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}}}},"201":{"description":"Created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"patch","x-kubernetes-group-version-kind":{"group":"","kind":"Event","version":"v1"}},"put":{"tags":["core_v1"],"description":"replace the specified Event","operationId":"replaceCoreV1NamespacedEvent","parameters":[{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldManager","in":"query","description":"fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https:\/\/golang.org\/pkg\/unicode\/#IsPrint.","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldValidation","in":"query","description":"fieldValidation instructs the server on how to handle objects in the request (POST\/PUT\/PATCH) containing unknown or duplicate fields, provided that the `ServerSideFieldValidation` feature gate is also enabled. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23 and is the default behavior when the `ServerSideFieldValidation` feature gate is disabled. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default when the `ServerSideFieldValidation` feature gate is enabled. - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered.","schema":{"uniqueItems":true,"type":"string"}}],"requestBody":{"content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}}}},"201":{"description":"Created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.Event"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"put","x-kubernetes-group-version-kind":{"group":"","kind":"Event","version":"v1"}}},"\/api\/v1\/namespaces\/{namespace}\/limitranges":{"parameters":[{"name":"namespace","in":"path","description":"object name and auth scope, such as for teams and projects","required":true,"schema":{"uniqueItems":true,"type":"string"}},{"name":"pretty","in":"query","description":"If 'true', then the output is pretty printed.","schema":{"uniqueItems":true,"type":"string"}}],"get":{"tags":["core_v1"],"description":"list or watch objects of kind LimitRange","operationId":"listCoreV1NamespacedLimitRange","parameters":[{"name":"allowWatchBookmarks","in":"query","description":"allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored.","schema":{"uniqueItems":true,"type":"boolean"}},{"name":"continue","in":"query","description":"The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldSelector","in":"query","description":"A selector to restrict the list of returned objects by their fields. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"labelSelector","in":"query","description":"A selector to restrict the list of returned objects by their labels. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"limit","in":"query","description":"limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"resourceVersion","in":"query","description":"resourceVersion sets a constraint on what resource versions a request may be served from. See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"resourceVersionMatch","in":"query","description":"resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"timeoutSeconds","in":"query","description":"Timeout for the list\/watch call. This limits the duration of the call, regardless of any activity or inactivity.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"watch","in":"query","description":"Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.","schema":{"uniqueItems":true,"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.LimitRangeList"}},"application\/json;stream=watch":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.LimitRangeList"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.LimitRangeList"}},"application\/vnd.kubernetes.protobuf;stream=watch":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.LimitRangeList"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.LimitRangeList"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"list","x-kubernetes-group-version-kind":{"group":"","kind":"LimitRange","version":"v1"}}},"\/api\/v1\/namespaces\/{namespace}\/limitranges\/{name}":{"parameters":[{"name":"name","in":"path","description":"name of the LimitRange","required":true,"schema":{"uniqueItems":true,"type":"string"}},{"name":"namespace","in":"path","description":"object name and auth scope, such as for teams and projects","required":true,"schema":{"uniqueItems":true,"type":"string"}},{"name":"pretty","in":"query","description":"If 'true', then the output is pretty printed.","schema":{"uniqueItems":true,"type":"string"}}],"get":{"tags":["core_v1"],"description":"read the specified LimitRange","operationId":"readCoreV1NamespacedLimitRange","responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.LimitRange"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.LimitRange"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.api.core.v1.LimitRange"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"get","x-kubernetes-group-version-kind":{"group":"","kind":"LimitRange","version":"v1"}}},"\/api\/v1\/namespaces\/{namespace}\/persistentvolumeclaims":{"parameters":[{"name":"namespace","in":"path","description":"object name and auth scope, such as for teams and projects","required":true,"schema":{"uniqueItems":true,"type":"string"}},{"name":"pretty","in":"query","description":"If 'true', then the output is pretty printed.","schema":{"uniqueItems":true,"type":"string"}}],"delete":{"tags":["core_v1"],"description":"delete collection of PersistentVolumeClaim","operationId":"deleteCoreV1CollectionNamespacedPersistentVolumeClaim","parameters":[{"name":"continue","in":"query","description":"The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.","schema":{"uniqueItems":true,"type":"string"}},{"name":"dryRun","in":"query","description":"When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldSelector","in":"query","description":"A selector to restrict the list of returned objects by their fields. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"gracePeriodSeconds","in":"query","description":"The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"labelSelector","in":"query","description":"A selector to restrict the list of returned objects by their labels. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"limit","in":"query","description":"limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"orphanDependents","in":"query","description":"Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true\/false, the \"orphan\" finalizer will be added to\/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.","schema":{"uniqueItems":true,"type":"boolean"}},{"name":"propagationPolicy","in":"query","description":"Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.","schema":{"uniqueItems":true,"type":"string"}},{"name":"resourceVersion","in":"query","description":"resourceVersion sets a constraint on what resource versions a request may be served from. See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"resourceVersionMatch","in":"query","description":"resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https:\/\/kubernetes.io\/docs\/reference\/using-api\/api-concepts\/#resource-versions for details.\n\nDefaults to unset","schema":{"uniqueItems":true,"type":"string"}},{"name":"timeoutSeconds","in":"query","description":"Timeout for the list\/watch call. This limits the duration of the call, regardless of any activity or inactivity.","schema":{"uniqueItems":true,"type":"integer"}}],"requestBody":{"content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"}}}},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/vnd.kubernetes.protobuf":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}},"application\/yaml":{"schema":{"$ref":"#\/components\/schemas\/io.k8s.apimachinery.pkg.apis.meta.v1.Status"}}}},"401":{"description":"Unauthorized"}},"x-kubernetes-action":"deletecollection","x-kubernetes-group-version-kind":{"group":"","kind":"PersistentVolumeClaim","version":"v1"}},"get":{"tags":["core_v1"],"description":"list or watch objects of kind PersistentVolumeClaim","operationId":"listCoreV1NamespacedPersistentVolumeClaim","parameters":[{"name":"allowWatchBookmarks","in":"query","description":"allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored.","schema":{"uniqueItems":true,"type":"boolean"}},{"name":"continue","in":"query","description":"The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.","schema":{"uniqueItems":true,"type":"string"}},{"name":"fieldSelector","in":"query","description":"A selector to restrict the list of returned objects by their fields. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"labelSelector","in":"query","description":"A selector to restrict the list of returned objects by their labels. Defaults to everything.","schema":{"uniqueItems":true,"type":"string"}},{"name":"limit","in":"query","description":"limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.","schema":{"uniqueItems":true,"type":"integer"}},{"name":"resourceVersion","in":"query","description":"resourceVersion sets a constraint on what resource versions a request may be served from. See https:\/\/kuberne
[...]
