global
  master-worker
  log /dev/log local0 info

# In 3.2, log-forward supports dont-parse-log and assume-rfc6587-ntf
log-forward lf_syslog
  bind :514
  dgram-bind :514
  option dont-parse-log
  option assume-rfc6587-ntf
  log backend@be_syslog local0

backend be_syslog
  mode log
  balance roundrobin
  server sys1 udp@10.0.40.11:514
  server sys2 udp@10.0.40.12:514
