global
  master-worker
  log /dev/log local0 info

defaults
  log global
  mode http
  option httplog
  timeout connect 5s
  timeout client  30s
  timeout server  30s

resolvers dns
  nameserver dns1 10.96.0.10:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry   1s
  hold valid      10s

backend be_dynamic
  balance roundrobin
  default-server init-addr none resolvers dns resolve-prefer ipv4 check

  # Creates srv1..srv3, resolves via DNS
  server-template srv 1-3 myapp.default.svc.cluster.local:8080
